{% extends "dissemin/skeleton.html" %}

{% load i18n %}

{% block headTitle %}
{% trans "Frequently Asked Questions" %}
{% endblock %}

{% block content %}
<div id="fullPage" class="faq">
    <div id="contentTitle">{% trans "Frequently Asked Questions" %}</div>
    <div id="actualContent">

	  <div id="faqSummary">
        <h4>Open Access</h4>
        <p><a href="#open-access">{% trans "What is Open Access?" %}</a></p>
        <p><a href="#repositories-rock">{% trans "Why should I upload my papers to a repository?" %}</a></p>
        <p><a href="#what-repository">{% trans "What repository should I use?" %}</a></p>
        <p><a href="#why-no-deposit">{% trans "Why can't I deposit in my favorite repository yet?" %}</a></p>

        <h4>dissem.in</h4>
        <p><a href="#what-is-dissemin">{% trans "What is dissem.in?" %}</a></p>
        <p><a href="#repository">{% trans "Is dissem.in a repository?" %}</a></p>
        <p><a href="#running">{% trans "Who runs dissem.in?" %}</a></p>
        <p><a href="#creating-a-profile">{% trans "Can I create my profile on dissem.in?" %}</a></p>
        <p><a href="#new-institution">{% trans "Can I use dissem.in for my institution?" %}</a></p>

        <h4>{% trans "Policies and full-text availability" %}</h4>
        <p><a href="#policy-classes">{% trans "What do your policy classes mean?" %}</a></p>
        <p><a href="#availability">{% trans "When is a paper considered available?" %}</a></p>
        <p><a href="#statistics">{% trans "Should I trust your statistics?" %}</a></p>

        <h4>{% trans "Omissions and errors" %}</h4>
        <p><a href="#copy-available">{% trans "There is a freely available copy of my article online but dissem.in does not find it." %}</a></p>
        <p><a href="#missing-paper">{% trans "One of my papers is missing. Why?" %}</a></p>
        <p><a href="#incorrect-metadata">{% trans "Some details of my paper are incorrect. What can I do?" %}</a></p>

        <h4>{% trans "Authentication with ORCID" %}</h4>
        <p><a href="#orcid-why">{% trans "Why do you need to authenticate users?" %}</a></p>
        <p><a href="#orcid-login">{% trans "What will you do to my ORCID profile if I log in?" %}</a></p>
        <p><a href="#orcid-add-pubs">{% trans "How do I add publications to my ORCID profile?" %}</a></p>

        <h4>{% trans "Behind the scenes" %}</h4>
        <p><a href="#sources">{% trans "Where do you get the data from?" %}</a></p>
        <p><a href="#getting-involved">{% trans "How can I help?" %}</a></p>
        <p><a href="#source-code">{% trans "Where is the source code?" %}</a></p>
        <p><a href="#oai">{% trans "Can I harvest your data?" %}</a></p>
      </div>
        <h3>{% trans "Open Access" %}</h3>

        <h2 id="open-access">{% trans "What is Open Access?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        In a nutshell, the Open Access movement promotes free access to the scientific literature. For a 
        more in-depth introduction, we recommend
        <a href="http://www.phdcomics.com/comics.php?f=1533">this video in English</a>
        and
        <a href="https://pablo.rauzy.name/openaccess/introduction.html">this introduction in French</a>.
        {% endblocktrans %}
        </p>
        <h2 id="repositories-rock">{% trans "Why should I upload my papers to a repository?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        You should do it because:
        <ul>
            <li>It makes your research <strong>more accessible</strong> and <strong>more visible</strong>.
            Many researchers routinely check papers in topic repositories such as arXiv, and
            it is less likely that these researchers check your homepage regularly.
              </li>
              <li>You can even do it before publication. You can get <strong>valuable feedback</strong>
	      to improve your paper before the actual peer-reviewing process.
	      It may also be useful to establish priority if it takes a long
	      time for your paper to get published.</li>
              <li>
              It provides you a <strong>durable storage</strong>. Your homepage
              is likely to change or to disappear, for instance if you leave your current institution.
              </li>
              <li>Librarians around the world cannot check whether all the papers in a given journal
              are available on homepages: in doubt, they subscribe to this journal to make sure their
              researchers have access to it. This costs a lot of money for research institutions.
              Papers stored in repositories are <strong>easier to detect</strong> and can help academia save
              money.</li>
              <li>
              Finally, for all these reasons,
              an increasing number of <strong>funding bodies</strong> require the outcomes of
              their projects to be made available in a repository.
              </li>
          </ul>
        {% endblocktrans %}
        </p>
        <h2 id="what-repository">{% trans "What repository should I use?" %}</h2>
        <p>
        {% blocktrans trimmed %}
            There are roughly three types of repositories:
            <ul>
                <li>Subject repositories, restricted to some research fields,
                  such as <a href="https://arxiv.org">arXiv</a>.</li>
                <li>Institutional repositories, designated to store the research output of a given institution or country.
                </li>
                <li>General-purpose academic repositories such as <a href="https://zenodo.org">Zenodo</a>,
                    not limited to a particular scope.</li>
            </ul>
            If your research community favours a specific repository, using it makes sense as it will increase your visibility. If not, institutional or general-purpose repositories are also good options.
        {% endblocktrans %}
        </p>
        <h2 id="why-no-deposit">{% trans "Why can't I deposit in my favorite repository yet?" %}</h2>
        <p>
        {% blocktrans trimmed %}
            At the moment, you can use Dissemin to deposit in the following repositories:
            <ul>
              <li><strong><a href="https://zenodo.org">Zenodo</a></strong>,
                an innovative repository backed by the EU.</li>
              <li><strong><a href="https://hal.archives-ouvertes.fr/">HAL</a></strong>,
                a French repository managed by the
                <a href="https://www.ccsd.cnrs.fr/">CCSD</a>.</li>
	      <li><strong><a href="https://osf.io/preprints/">OSF preprints</a></strong>, 
		a preprint server run by the <a href="https://cos.io/">Center for Open Science</a> on
		top of their <a href="https://osf.io/">Open Science Framework</a>.</li>
            </ul>
            Supporting more repositories requires us to write
            specific code for each repository. More importantly it requires the
            repositories to give us permission to deposit papers in bulk. We
            have been considering integrating the following repositories:
            <ul>
              <li><strong><a href="https://arxiv.org/">arXiv</a></strong>, a
                well-known general-purpose repository. For now, arXiv has
                declined to allow Dissemin to deposit using their SWORD API, and
                wants users to deposit in arXiv manually. If you would like to
                deposit in arXiv with Dissemin, you can let them know that you
                are interested (email: help AT arxiv.org, and start your message
                with "Dear arXiv,").</li>
            </ul>
        {% endblocktrans %}
        </p>

        <h3>dissem.in</h3>

        <h2 id="what-is-dissemin">{% trans "What is dissem.in?" %}</h2>

        <p>
        {% url 'sources' as sources_url %}
        {% blocktrans trimmed %}
        Dissemin is a web platform gathering metadata from <a href="{{ sources_url }}">many sources</a>
        and analyzing the full text availability of publications of researchers.
        It has been designed to foster the use of repositories (rather than preprints posted on personal homepages),
        <a href="#repositories-rock">for numerous reasons</a>.
        {% endblocktrans %}
        </p>
        <h2 id="repository">{% trans "Is dissem.in a repository?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Dissemin is not a repository as it does not store any full text. When the full text of a publication
        is available, a link to the relevant page is provided.
        The full texts deposited through Dissemin are stored in third-party repositories such as
        <a href="https://zenodo.org">Zenodo</a> or
        <a href="https://hal.archives-ouvertes.fr/">HAL</a>.
        {% endblocktrans %}
        </p>
        <h2 id="running">{% trans "Who runs dissem.in?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Dissemin is brought to you by the <a
          href="http://association.dissem.in/">CAPSH association</a>.
        {% endblocktrans %}
        <h2 id="creating-a-profile">{% trans "Can I create my profile on dissem.in?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Yes you can. We will ask you to create an ORCID profile if you do not have one yet.
        This only takes a few seconds.
        {% endblocktrans %}
        </p>
        <h2 id="new-institution">{% trans "Can I use dissem.in as Current Research Information System for my institution?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Yes, just ask <a href="mailto:contact@dissem.in">contact@dissem.in</a>.
        {% endblocktrans %}
        </p>

        <h3>{% trans "Policies and full-text availability" %}</h3>
        <h2 id="policy-classes">{% trans "What do your policy classes mean?" %}</h2>
        <p>
        <div class="unselectedCriterion">
            <div class="pubLogo">
                <div class="pubLogoPic-OA"></div>
            </div>
            <div class="criterionItem">
                {% blocktrans trimmed %}
                <strong>Open access:</strong><br />
                The full text is made freely available by the publisher
                (in a fully open access or hybrid journal).
                {% endblocktrans %}
            </div>
        </div>
        <div class="unselectedCriterion">
            <div class="pubLogo">
                <div class="pubLogoPic-OK pubLogoPic-PDF"></div>
            </div>
            <div class="criterionItem">
                {% blocktrans trimmed %}
                <strong>Pre/post prints allowed and full text available:</strong><br />
                The full text is available in a repository, but might not be freely
                available from the publisher itself. This is in line with the publishing policy
                and is called green open access or self-archiving.
                {% endblocktrans %}
            </div>
        </div>
        <div class="unselectedCriterion">
            <div class="pubLogo">
                <div class="pubLogoPic-OK"></div>
            </div>
            <div class="criterionItem">
                {% blocktrans trimmed %}
                <strong>Pre/post prints allowed but full text unavailable:</strong><br />
                The full text could be made available in a repository (as above)
                according to the publishing policy.
                We encourage their authors to do so.
                {% endblocktrans %}
            </div>
        </div>
        <div class="unselectedCriterion">
            <div class="pubLogo">
                <div class="pubLogoPic-NOK"></div>
            </div>
            <div class="criterionItem">
                {% blocktrans trimmed %}
                <strong>Pre/post prints forbidden:</strong><br />
                The publisher forbids deposits in repositories, in general.
                Authors might still be allowed to deposit their works after
                some embargo period or if their funder has an agreement with
                this publisher.
                {% endblocktrans %}
            </div>
        </div>
        </p>
        <h2 id="availability">{% trans "When is a paper considered available?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        When we have found it in one of the repositories we harvest. The list of
        these repositories can be found <a href="{{ sources_url }}">here</a>.
        Thanks to the <a href="https://www.base-search.net">BASE</a> search engine,
        we cover more than 80 millions of preprints.
        {% endblocktrans %}
        </p>
        <h2 id="statistics">{% trans "Should I trust your statistics?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        There are a few caveats concerning our data:
        <ul>
            <li>Some papers are not present in any of our metadata sources, so they are not counted at all.</li>
            <li>Some entries in our system do not correspond to proper research papers.</li>
            <li>Some of them have been incorrectly classified by our homonym disambiguation system.</li>
            <li>Some repositories might not be covered by any of our sources, so a paper might be marked as unavailable while it is available.</li>
            <li>Some papers might be marked as available but actually, they are not (for instance because the content has been deleted).</li>
            <li>And many other technical issues.</li>
        </ul>
        {% endblocktrans %}
        </p>

        <h3>{% trans "Omissions and errors" %}</h3>
        <h2 id="missing-paper">{% trans "One of my papers is missing. Why?" %}</h2>
            {% blocktrans trimmed %}
            <p>There are many possible reasons: maybe it is not available from any
            of <a href="{{ sources_url }}">our sources</a>, your name is spelt
               differently or partially in the authors list, our algorithms estimated
               that it has been written by an homonym researcher, or it has been deleted
               by one of your co-authors.</p>
            <p>In any case, you should be able to add it manually soon.</p>
            {% endblocktrans %}

        <h2 id="incorrect-metadata">{% trans "Some details of my paper are incorrect. What can I do?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        In a near future, you should be able to create an account and fix it by yourself.
        If it is really urgent, send a message to <a href="mailto:contact@dissem.in">contact@dissem.in</a>.
        {% endblocktrans %}
        </p>

       <h2 id="copy-available">{% trans "There is a freely available copy of my article online but dissem.in does not find it." %}</h2>
       <p>
            {% blocktrans trimmed %}
            First, note that Dissemin does not account for copies of articles
            that are only available on a personal homepage or a similar website.
            This is intentional, because we believe that
            <a href="#repositories-rock">articles should be hosted in repositories</a>.
            {% endblocktrans %}
       </p>
       <p>
            {% blocktrans trimmed %}
            Second, at the moment, Dissemin only supports repositories with
            a crawlable API that follows the
            <a href="https://www.openarchives.org/OAI/openarchivesprotocol.html">OAI-PMH protocol</a>,
            and is
            <a href="https://www.base-search.net/about/en/suggest.php">registered</a>
            in <a href="https://www.base-search.net/">BASE</a>. We have a
            <a href="https://github.com/dissemin/croawl">long-term project</a>
            to support more repositories by crawling them, but for the moment,
            we do not have the resources to support repositories not
            covered by BASE.
            {% endblocktrans %}
       </p>
       <p>
            {% blocktrans trimmed %}
            If you are a user of a repository and would like it to be supported
            by Dissemin, please contact the repository administrator and suggest
            them to implement OAI-PMH support and to 
            <a href="https://www.base-search.net/about/en/suggest.php">register</a>
            their repository in BASE. If the repository is registered in BASE
            but is not properly supported by Dissemin, please 
            email <a href="mailto:contact@dissem.in">contact@dissem.in</a> and
            we will investigate the issue.
            {% endblocktrans %}
       </p>

        <h3>{% trans "Authentication with ORCID" %}</h3>

        <h2 id="orcid-why">{% trans "Why do you need to authenticate users?" %}</h2>
        <p>
            {% blocktrans trimmed %}
            Authenticating users is necessary to deposit papers on their behalf in open repositories.
            Besides, knowing a user's ORCID id helps us find its publications, avoiding articles
            authored by namesakes for instance.

            Logging in via ORCID will not expose any private information to Dissemin: we only
            have access to the public part of your ORCID record. For instance, unless you have
            explicitly marked your email address as public, we do not even know your email address
            when you log in to Dissemin via ORCID.
            {% endblocktrans %}
        </p>

        <h2 id="orcid-login">{% trans "What will you do to my ORCID profile if I log in?" %}</h2>

        <p>
            {% blocktrans trimmed %}
            Nothing. When you log in via ORCID to Dissemin, this does not grant us any
            permission to change anything in your ORCID record.
            {% endblocktrans %}
        </p>

        <h2 id="orcid-add-pubs">{% trans "How do I add publications to my ORCID profile?" %}</h2>

        <p>
            {% blocktrans trimmed %}
            ORCID supports various methods to claim publications. Our preferred one is
            via CrossRef's search interface. Here is how to use it:
            <ul>
                <li>Go to <a href="https://search.crossref.org/">CrossRef Metadata Search</a>;</li>
                <li>Click "Log in" in the top right corner and go through the ORCID login process;</li>
                <li>Search for your publications, for instance by typing your name in CrossRef's search interface;</li>
                <li>Add publications that are yours to your ORCID record by clicking "Add to ORCID".</li>
            </ul>
            In the future, we hope to enable you to do this from Dissemin itself.
            {% endblocktrans %}
        </p>

        <h3>{% trans "Behind the scenes" %}</h3>

        <h2 id="sources">{% trans "Where do you get the data from?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Our sources are listed on <a href="{{ sources_url }}">this page</a>.
        {% endblocktrans %}
        </p>

        <h2 id="getting-involved">{% trans "How can I help?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        There are many ways to get involved:
        <ul>
            <li>Encourage researchers to use this service.</li>
            <li><a href="mailto:contact@dissem.in">Send us</a> a list of researchers for your
                university or department so that we can set up an instance of Dissemin for your institution.</li>
            <li>Help us translate the interface in your language.</li>
            <li>Contribute to <a href="https://github.com/wetneb/dissemin">the code</a>.</li>
            <li>Fix any of our listed <a href="https://github.com/wetneb/dissemin/issues">issues</a>.</li>
            <li>Star <a href="https://github.com/wetneb/dissemin">our github project</a>!</li>
            <li><a href="http://association.dissem.in/#dons">Donations are accepted</a>.</li>
        </ul>
        {% endblocktrans %}
        </p>
        <h2 id="source-code">{% trans "Where is the source code?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        The source code is available <a href="https://github.com/wetneb/dissemin">on github</a>.
        {% endblocktrans %}
        </p>
        <h2 id="oai">{% trans "Can I harvest your data?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Yes! We even have <a href="http://dev.dissem.in/api.html">an API</a>. If it does not suit your needs,
        tell us what you need.
        {% endblocktrans %}
        </p>
        <h2 id="logos">{% trans "Can I use the Dissemin logo to refer to the project?" %}</h2>
        <p>
        {% blocktrans trimmed %}
        Yes! See <a href="https://association.dissem.in/#logos">here</a> for
        links to our logos and for explanations about how you can reuse them.
        {% endblocktrans %}
        </p>
        <p><a href="#">{% trans "Back to top" %}</a></p>
    </div>
{% endblock %}
